@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.navbar {
  z-index: 1;
  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  background-color: white;
  justify-content: space-around;
  box-shadow: 0px -5px 10px 0px; }
  @media screen and (max-width: 768px) {
    .navbar {
      height: 50px; } }

.navbarSection {
  height: 100%;
  display: flex;
  color: #9575cd;
  font-weight: bold;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .navbarSection {
      font-size: 0.8em; } }

.home {
  width: 100%;
  display: flex;
  padding-top: 70px;
  background-color: white; }
  @media screen and (max-width: 768px) {
    .home {
      flex-direction: column-reverse; } }

.homeImage {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .homeImage {
      width: 100%; } }

.title {
  color: #9575cd;
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .title {
      height: 200px; } }

#fotos {
  padding-top: 50px; }

.titleFotos {
  color: #9575cd;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 300;
  margin-left: 50px; }
  @media screen and (max-width: 768px) {
    .titleFotos {
      font-size: 2em;
      margin-left: 20px; } }

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto; }
  .container img {
    max-width: 33%; }
    @media screen and (max-width: 768px) {
      .container img {
        max-width: 100%; } }

.footer {
  height: 90px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding: 0px 5%;
  box-shadow: 0px 5px 10px 0px; }
  .footer img {
    max-width: 200px; }

.footerName {
  color: #9575cd;
  text-transform: uppercase; }

.form {
  padding: 100px 0px;
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .form {
      width: 80%;
      align-items: flex-end; } }

.input {
  height: 30px;
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #9575cd;
  font-size: 15px;
  padding-left: 6px;
  outline: none; }
  @media screen and (max-width: 768px) {
    .input {
      width: 100%; } }

.input:focus {
  border-bottom-width: 2px; }

.submitButton {
  width: 110px;
  height: 40px;
  background-color: #9575cd;
  color: white;
  outline: none;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: not-allowed; }

.address {
  height: 500px;
  width: 100%;
  display: flex; }
  .address iframe {
    width: 50%; }
    @media screen and (max-width: 768px) {
      .address iframe {
        width: 100%; } }
  @media screen and (max-width: 768px) {
    .address {
      flex-direction: column-reverse; } }

.addressTitle {
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: #9575cd;
  font-size: 2.5em; }
  @media screen and (max-width: 768px) {
    .addressTitle {
      margin: 40px auto; } }

* {
  font-family: "Montserrat", sans-serif; }

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #ede7f6; }
  body img {
    max-width: 800px; }

html {
  scroll-behavior: smooth; }
